<div class="row">
	<div class="col-lg-3 col-md-3 col-sm-3">
		<h1 class="band_name">
			<%= @band.name %></h1>

		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, harum maxime dolorem perspiciatis iure quos et esse consectetur obcaecati a architecto quibusdam corporis eos molestiae aspernatur. Eaque corporis vero aperiam!
		</p>
	</div>
	<div class="col-lg-9 col-md-3 col-sm-3">
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, rem, est, provident, doloremque sapiente id vitae voluptate tempora corporis dolorem consectetur incidunt molestiae praesentium aspernatur quas assumenda nobis. Eaque, nostrum quisquam suscipit alias enim veniam ipsam consequatur quas odio quia? Earum, sequi distinctio laboriosam ut explicabo quam iste vero facere!
		</p>
	</div>

</div>